<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <table>
    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Email</th>
        <th>Content</th>
        <th>Edit</th>
    </tr>
    <% for(let user of data){ %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.post_content %></td>
            <td>
                <form method="get" action="http://localhost:3000/user/<%= user.id %>/edit">
                    <button>Edit username</button>
                </form>
            </td>

        </tr>
        <% } %>
   </table>
</body>
</html>